body {
    background-color: black;
    color: white; /* Texto branco para contrastar com o fundo preto */
    font-family: Arial, sans-serif; /* Escolha uma fonte adequada */
}

/* Estilo para o container principal do formulário */
main {
    max-width: 600px; /* Ajuste conforme necessário */
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilo para os campos de entrada */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="url"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilo para o botão de envio */
input[type="submit"] {
    width: 100%;
    background-color: #4CAF50; /* Cor verde para o botão */
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Estilo para os rótulos dos campos */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilo para os campos de entrada em foco */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: #4CAF50; /* Cor verde para indicar foco */
}

/* Estilo para a mensagem de erro */
.error-message {
    color: #FF0000; /* Cor vermelha para indicar erro */
    font-size: 14px;
}

/* Estilo para o link nos termos de uso */
a {
    color: #4CAF50; /* Cor verde para os links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
